<app-header></app-header>
<div class="titulos">
    <h1>Entidades que nos regulan y supervisan</h1>
    <h2>ENTIDADES RELACIONADAS</h2>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../../../assets/images/mintic.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Ministerio de Tecnologías de la Información y las Comunicaciones</h1>
          <p class="card-text">Edificio Murillo Toro Cra. 8a entre calles 12 y 13, Bogotá,</p>
          <p class="card-text">Colombia – Código Postal 111711</p>
          <p class="card-text">Teléfono Conmutador: +57(1) 344 34 60</p>
          <p class="card-text">Línea Gratuita: 01-800-0914014</p>
          <p class="card-text">Línea anticorrupción: 01-800-0912667</p>
          <p class="card-text">Correo electrónico: <span>minticresponde@mintic.gov.co</span></p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../../assets/images/superindustria.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <br><br><br><br><br><br>
          <h1 class="card-title">Superintendencia de industria y comercio</h1><br><br>
          <p class="card-text">Carrera 13 No. 27-00 Bogotá D.C. Colombia</p>
          <p class="card-text">Conmutador: (571) 5870000 Fax: 5870284</p>
          <p class="card-text">Línea de Atención al Ciudadano: 5920400</p>
          <p class="card-text">Línea gratuita nacional: 018000 910 165</p>
          <p class="card-text">Correo electrónico: <span>contactenos@sic.gov.co</span></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../../assets/images/crc.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Comisión de Regulación de Comunicaciones</h1><br><br>
          <p class="card-text">Calle 59 A bis No. 5- 53 Edificio Link Siete Sesenta Piso 9</p>
          <p class="card-text">Bogotá D.C.</p>
          <p class="card-text">Línea de atención al cliente Bogotá: +57-1-319-8300</p>
          <p class="card-text">Línea Gratuita Nacional: +57-01-8000-919278  </p>
          <p class="card-text">Correo electrónico: <span>atencioncliente@crcom.gov.co</span></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../../assets/images/rtvc.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">RTVC Sistema de Medios Públicos</h1><br><br>
          <p class="card-text">Av. El Dorado Cr. 45 # 26 – 33 </p>
          <p class="card-text">Bogotá D.C, Colombia – Código Postal: 111321</p>
          <p class="card-text">Teléfonos (+571) 2200700. Línea</p>
          <p class="card-text">gratuita nacional: 018000123414.</p>
          <p class="card-text">Línea preferencial para personas sordas: (+571) 2200703.</p>
          <p class="card-text">Correo electrónico: <span>info@rtvc.gov.co</span></p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../../../../assets/images/icbf.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">ICBF</h1><br><br>
            <p class="card-text">Carrera 50 # 26 – 51 Barrio La Esmeralda, Bogotá, D.C.</p>
            <p class="card-text">Teléfonos:</p>
            <p class="card-text">57(1) 324 19 00</p>
            <p class="card-text">Ext: 106008 – 106190</p>
            <p class="card-text">Correo electrónico: <span>@icbf.gov.co</span></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../../../assets/images/Fiscal.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">FISCALIA</h1><br><br>
            <p class="card-text">Bogotá, D.C. Avenida Calle 24 No. 52 – 01(Ciudad Salitre)</p>
            <p class="card-text">Línea nacional 0180000919748 – Celular 122</p>
            <p class="card-text">Línea local para Bogotá y Cundinamarca 5702000,</p>
            <p class="card-text">opción 7</p>
            <p class="card-text">Correo electrónico: <span>denunciaanonima@fiscalia.gov.co</span></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../../../../assets/images/escudoPOL.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h1 class="card-title">POLICIA NACIONAL</h1><br><br>
            <p class="card-text">Línea de Atención al Ciudadano – Bogotá D.C. (571)</p>
            <p class="card-text">5159111 / 9112</p>
            <p class="card-text">Resto del país: 018000 910 112 </p>
            <p class="card-text">Fax (571) 5159581</p>
            <p class="card-text">Correo electrónico: <span>lineadirecta@policia.gov.co</span></p>
          </div>
        </div>
      </div>
      
  </div>
<app-footer></app-footer>
