<app-header></app-header>
<div class="contenedor">
    <div class="primero">
    <h1 class="principal">Ley de protección de datos</h1>
    <p>La Ley de Protección de Datos Personales reconoce y protege el derecho que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o archivos que sean susceptibles de tratamiento por entidades de naturaleza pública o privada.</p>
    </div>
    <div class="segundo">
        <h2 class="secundario">¿Que son datos personales?</h2>
        <p>Cuando hablamos de datos personales nos referimos a toda aquella información asociada a una persona y que permite su identificación. Por ejemplo, su documento de identidad, el lugar de nacimiento, estado civil, edad, lugar de residencia, trayectoria académica, laboral, o profesional. Existe también información más sensible como su estado de salud, sus características físicas, ideología política, vida sexual, entre otros aspectos.</p>
    </div>
    <div class="tercero">
        <h2 class="terciario">¿Que tipos de datos hay?</h2>
        <p>Las disposiciones sobre protección de datos, establecen tipologías de datos según el mayor o menor grado de aceptabilidad de la divulgación:</p>
        <h3 class="subtitulos"><strong>Dato Público:</strong></h3>
        <p>Es el dato que la ley o la Constitución Política determina como tal, así como todos aquellos que no sean semiprivados o privados.</p>
        <h3 class="subtitulos"><strong>Dato Semiprivado:</strong></h3>
        <p>Es el dato que no tiene naturaleza íntima, reservada, ni pública y cuyo conocimiento o divulgación puede interesar no sólo a su titular sino a cierto sector o grupo de personas.</p>
        <h3 class="subtitulos"><strong>Dato Privado:</strong></h3>
        <p>Es el dato que por su naturaleza íntima o reservada sólo es relevante para el titular de la información.</p>
        <h3 class="subtitulos"><strong>Sensible:</strong></h3>
        <p>Es el dato que afecta la intimidad del titular o cuyo uso indebido puede generar su discriminación.</p>
    </div>
    <div class="cuarto">
        <h2 class="cuarteto">¿A qué datos personales no se aplica la ley?</h2>
        <p>A las bases de datos o archivos mantenidos en un ámbito exclusivamente personal o doméstico.

            Las que tengan por finalidad la seguridad y defensa nacional, la prevención, detección, monitoreo y control del lavado de activos y el financiamiento del terrorismo.
            
            Las que tengan como fin y contengan información de inteligencia y contrainteligencia.
            
            Las que contengan información periodística y otros contenidos editoriales
            
            Las bases de datos con información financiera, crediticia, comercial y de servicios, y de los censos de población y vivienda.</p>
    </div>
    <div class="boton">
        <button class="ley">LEY 1581 DE 2012</button>
    </div>
</div>
<app-footer></app-footer>
