<div class="container">
  <h1>Planes de Internet</h1>
  <div class="planes">
    <div class="plan">
      <h2>5 Megas</h2>
      <ul>
        <li><img src="../../../../../assets/images/descarga.png" class="img1">5M Descarga</li>
        <li><img src="../../../../../assets/images/subir.png" class="img2">1.5M Subida</li>
      </ul>
      <button class="contrato">Contratar</button>
    </div>
    <div class="plan">
      <h2>10 Megas</h2>
      <ul>
        <li><img src="../../../../../assets/images/descarga.png" class="img1">10M Descarga</li>
        <li><img src="../../../../../assets/images/subir.png" class="img2">3M Subida</li>
      </ul>
      <button class="contrato">Contratar</button>
    </div>
    <div class="plan">
      <h2>25 Megas</h2>
      <ul>
        <li><img src="../../../../../assets/images/descarga.png" class="img1">25M Descarga</li>
        <li><img src="../../../../../assets/images/subir.png" class="img2">7.5M Subida</li>
      </ul>
      <button class="contrato">Contratar</button>
    </div>
  </div>
</div>