<header class="header">
    <div class="logo">
        <img src="../../../assets/images/Logo.png" alt="Logo">
    </div>
    <nav>
        <ul class="nav-links">
            <li routerLink="../home"> Inicio</li>
            <li >Informacion General
                <ul class="nav2-links">
                    <li routerLink="../pdf1">Ley de Proteccion de Datos</li>
                    <li routerLink="../pdf2">Vigilancia y Control</li>
                    <li routerLink="../pdf3">Protección al Menor</li>
                    <li routerLink="../pdf4">Equipos Utilizados</li>
                    <li>Procedimiento Policia</li>
                    <li>Indicadores de Calidad</li>
                    <li>Seguridad Red y Parental</li>
                    <li>Test de Velocidad</li>
                    <li>Contrato Sitelinks</li>
                </ul>
            </li>
            <li routerLink="../regulations">Normativas</li>
            <li routerLink="../us">Nosotros</li>
            <li routerLink="../shop">Nuestra Tienda</li>
            <li routerLink="../pay">Pagos</li>
        </ul>
    </nav>
    <button class="btn">Contactanos</button>
</header>