<div class="card-container">
  <mat-card class="card1">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="titulo">Flexibilidad</mat-card-title>
        <mat-card-subtitle class="subtitulo">Para ti</mat-card-subtitle>
        <img mat-card-sm-image src="../../../../../assets/images/dinero.gif" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="texto">
      {{longText}}
    </mat-card-content>
  </mat-card>

  <mat-card class="card2">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="titulo">Soporte</mat-card-title>
        <mat-card-subtitle class="subtitulo">Siempre que lo necesites</mat-card-subtitle>
        <img mat-card-sm-image src="../../../../../assets/images/charla.gif" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="texto">
      {{longText2}}
    </mat-card-content>
  </mat-card>

  <mat-card class="card3">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="titulo">Tecnologia </mat-card-title>
        <mat-card-subtitle class="subtitulo">Lo mejor para ti</mat-card-subtitle>
        <img mat-card-sm-image src="../../../../../assets/images/redes.gif">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="texto">
      {{longText3}}
    </mat-card-content>
  </mat-card>
</div>