
.historia {
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
  padding: 20px; /* Espaciado interno */
    
}

/* Estilos para los títulos */
.historia h1 {
  font-size: 69px; /* Tamaño del título principal */
  margin-bottom: 10px; /* Espaciado inferior */
  font-family: Eras LIght ITC;
  text-align: center;
  color: #363839;
  font-weight: bold;

}

.historia h2 {
  font-size: 45px; /* Tamaño del título secundario */
  margin-top: 60px; /* Espaciado superior */
  color: #363839;
  font-family: Eras LIght ITC;
  font-weight: bold;
}
.contenido {
    display: flex; /* Colocar la imagen y el párrafo en una fila */
    align-items: flex-start; /* Centrar verticalmente los elementos */
  }
  
  .contenido img {
    width: 600px;
    height: 500px; /* Ajustar la imagen al ancho disponible */
  }
  
  .parrafo1 {
    margin-left: 25px; /* Dar un margen a la izquierda para separar del h2 */
    line-height: 2.0;
    color: #363839;
    font-weight: bold;
    font-family: Eras LIght ITC;
    font-size: 18px;
  }

  .parrafo2{
    color: #363839;
    font-weight: bold;
    font-family: Eras LIght ITC;
    line-height: 2.0;
    font-size: 18px;
  }

  /* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .historia h1 {
    font-size: 40px; /* Reducir más el tamaño del título principal */
  }

  .historia h2 {
    font-size: 24px; /* Reducir más el tamaño del título secundario */
  }

  .contenido img {
    width: 90%; /* Ajustar la imagen al 90% del ancho disponible */
  }
}
