<div class="historia">
  <h1>Sobre Nosotros</h1>
  <h2>Historia</h2>
<div>

  <div class="contenido">
    <img src="../../../../../assets/images/historia.png" alt="fotopaisaje">
    <p class="parrafo1">Asi empezamos a crear la red que usted necesita
        
        Sitelinks SAS es una empresa constituida en el año 2012, que ofrece el servicio de internet en el municipio de
        Fusagasugá. Nace por la necesidad de llevar internet de calidad a lugares donde cuya ubicación geográfica impide
        las conexiones por redes móviles u otras. Inicia como un pequeño emprendimiento de un joven que residió en el
        sector de las veredas del sur del Municipio de Fusagasugá, y vivió de cerca las limitaciones de los jóvenes de
        la zona al no contar con las facilidades tecnológicas.
        <br>
        Si bien en pleno siglo XXI ya se hablaba de la importancia de estar conectados por medio de la tecnología, la
        población de esta zona aún dependía de las tecnologías dispuestas exclusivamente en el sector urbano, por lo
        cual, debían desplazarse varios kilómetros hasta el centro de Fusagasugá ya que en este pequeño punto de la
        región aún se manejaban actividades de investigación mediante libros y enciclopedias; realizar una videollamada
        era algo que se completaba a futuro lejano.</p>

  </div>

  <div class="contenido2">
    <p class="parrafo2">
        Gracias a esta necesidad, este joven decide prestar este servicio a través de un café internet ubicado en la
        vereda Guavio Bajo, junto a la IEM Guavio Bajo. Sus principales clientes eran los estudiantes de dicha
        institución educativa. Ahora ellos podían realizar sus trabajos haciendo uso de la conexión a internet y equipos
        de cómputo. Conforme pasó el tiempo y evidenciando que sus equipos no eran suficientes para atender la demanda,
        el joven emprendedor, decide expandir su servicio mediante la instalación internet hogar para cada una de las
        casas que lo requerían. Es así como, la población de las veredas del Sur, pudo acceder a las tecnologías de
        comunicación.

        En el año 2017, Sitelinks SAS. se expande a la ciudad de Bogotá, y se conforma como una sociedad de varios
        inversionistas para atender un sector similar de población que a pesar de estar en el centro del país no contaba
        con un buen servicio de internet.

        A inicio de 2019 se implementa la tecnología de Fibra óptica para zona intervenida de Bogotá. Actualmente se
        desarrolla el proceso de integración de internet y televisión para mejor así la experiencia de los clientes
        ubicados en la capital.

        Sitelinks SAS, espera seguir implementando procesos de mejora continua, para brindar servicios de calidad tanto
        a la población Fusagasugueña, como en la capital del país de tal manera que el sueño que una vez inicio como una
        pequeña idea de negocio pueda solucionar los problemas de conectividad que presentan muchas personas en pleno
        auge tecnológico.</p>
  </div>