<div class="contenido">
    <div class="titulo">
        <h1>Normativas que nos rigen</h1>
    </div>
    <div class="documentos">
        <ul class="documentos-grid">
            <li>
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">DECRETO 1078</h5>
                      <p class="card-text"><img src="../../../../../assets/images/mesa.png">04/04/2021   <img src="../../../../../assets/images/etiqueta.png">Normativas</p>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">DECRETO 1704</h5>
                      <p class="card-text"><img src="../../../../../assets/images/mesa.png">04/04/2021   <img src="../../../../../assets/images/etiqueta.png">Normativas</p>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">RESOLUCIÓN 5050 DE 2016</h5>
                      <p class="card-text"><img src="../../../../../assets/images/mesa.png">04/04/2021   <img src="../../../../../assets/images/etiqueta.png">Normativas</p>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">RESOLUCIÓN 1511 DE 2017</h5>
                      <p class="card-text"><img src="../../../../../assets/images/mesa.png">04/04/2021   <img src="../../../../../assets/images/etiqueta.png">Normativas</p>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">DECRETO 1424 DE 2002</h5>
                      <p class="card-text"><img src="../../../../../assets/images/mesa.png">04/04/2021   <img src="../../../../../assets/images/etiqueta.png">Normativas</p>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">LEY 679 DE 2001</h5>
                      <p class="card-text"><img src="../../../../../assets/images/mesa.png">04/04/2021   <img src="../../../../../assets/images/etiqueta.png">Normativas</p>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">LEY 1336 DE 2009</h5>
                      <p class="card-text"><img src="../../../../../assets/images/mesa.png">04/04/2021   <img src="../../../../../assets/images/etiqueta.png">Normativas</p>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">RESOLUCIÓN 3160 DE 2017</h5>
                      <p class="card-text"><img src="../../../../../assets/images/mesa.png">04/04/2021   <img src="../../../../../assets/images/etiqueta.png">Normativas</p>
                    </div>
                  </div>
            </li>
            <li>
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">LEY ESTATUTARIA 1581 DE 2012</h5>
                      <p class="card-text"><img src="../../../../../assets/images/mesa.png">04/04/2021   <img src="../../../../../assets/images/etiqueta.png">Normativas</p>
                    </div>
                  </div>
            </li>
        </ul>
    </div>
</div>