<div class="cobertura">
    <h1>Nuestra Cobertura</h1>
    <h4>Consulta mas detalles sobre nuestra cobertura <a [routerLink]="['/ruta']" class="link" [ngStyle]="{'color': hoverColor}" (mouseover)="hoverColor = 'red'" (mouseout)="hoverColor = 'red'">aqui</a> </h4>
    <div class="map-container">
        <iframe class="mapa1" src="https://www.google.com/maps/d/embed?mid=1uR0y2F0H-XN3csSupRS-L5W87m2AJFsN&hl=es-419&ehbc=2E312F"
            width="640" height="480"></iframe>
        <iframe class="mapa2" src="https://www.google.com/maps/d/embed?mid=1hBbCGq1V243Lkx1_eN7PaZ1UM1TAVk8U&hl=es-419&ehbc=2E312F"
            width="640" height="480"></iframe>
    </div>
</div>