<app-header></app-header>
<div class="titulo">
    <h1>Protección del menor</h1>
</div>
<div class="Informacion">
    <img src="../../../../../assets/images/proteccion-infantil.jpg" alt="">
    <p class="texto">SITELINKS lucha contra el maltrato infantil. Por esto se une a la ley 679 expedida por el Congreso de la República el 3 de agosto de 2001, para prevenir y contrarrestar la explotación, la pornografía y el turismo sexual con menores de edad:
        <br><br>
        Por mandato de la Ley 679 de 2001, todas las personas deben prevenir, bloquear, combatir y denunciar la explotación, alojamiento, uso, publicitación, difusión de imágenes, textos, documentos, archivos audiovisuales, uso indebido de redes globales de información, o el establecimiento de vínculos telemáticos de cualquier clase relacionados con material pornográfico o alusivo a actividades sexuales de menores de edad, por cuanto podría generar responsabilidad de tipo penal».
        <br><br>
        Esta ley se expidió con base en el artículo 44 de la Constitución Política y su objetivo primordial es proteger a los niños de la explotación y el abuso sexual y velar por que tengan un desarrollo sano e integral. Las empresas vinculadas a la Cámara Colombiana de Informática y Telecomunicaciones CCIT y al NAP Colombia nos unimos a la campaña organizada por el Gobierno Nacional contra la pornografía infantil.</p>
</div>
<app-footer></app-footer>