<div class="container-cards">
    <div class="cards-container">
        <mat-card class="card1">
            <mat-card-header>
                <div mat-card-avatar class="cardimage"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img class="image" mat-card-image src="../../../../../assets/images/Antenas.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="parrafo">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="boton1" mat-button>MAS INFORMACION</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card2">
            <mat-card-header>
                <div mat-card-avatar class="cardimage"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img class="image" mat-card-image src="../../../../../assets/images/Camaras.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="parrafo">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="boton1" mat-button>MAS INFORMACION</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card3">
            <mat-card-header>
                <div mat-card-avatar class="cardimage"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img class="image" mat-card-image src="../../../../../assets/images/Routers.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="parrafo">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="boton1" mat-button>MAS INFORMACION</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card4">
            <mat-card-header>
                <div mat-card-avatar class="cardimage"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img class="image" mat-card-image src="../../../../../assets/images/Switches.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p class="parrafo">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="boton1" mat-button>MAS INFORMACION</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
