<div class="contenedor">
    <h1>Dudas y comentarios</h1>
    <ul class="informacion">
        <br>
        <br>
        <br> 
        <br>
        <br>      
        <li><img src="../../../../../assets/images/ubicacion.png" alt="">  Linea nacional</li>
        <br>
        <br>
        <li><img src="../../../../../assets/images/telefono.png" alt="">  018000196034</li>
        <br>
        <br>
        <li><img src="../../../../../assets/images/email.png" alt="">  admin@localhost</li>
        <br>
        <br>
        <br>
        <li><img src="../../../../../assets/images/ubicacion.png" alt="">  Línea Bogotá</li>
        <br>
        <br>
        <li><img src="../../../../../assets/images/telefono.png" alt="">  9157999</li>
        <br>
        <br>
        <li><img src="../../../../../assets/images/email.png" alt="">  bogota@localhost</li>
    </ul>
    <form action="#" class="requisitos">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono">
      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" required></textarea>
      <br>
      <br>
      <button type="submit" >Enviar</button>
    </form>
  </div>
