<footer class="pie">
    <div class="logo">
        <img src="../../../assets/images/logof.png" alt="">
    </div>
    <div class="parrafo">
        <p>Somos una empresa de telecomunicaciones que brinda soluciones de conectividad<br>
           a través de la prestación de un servicio accesible y de calidad, apostando a <br>
           la mejora de las condiciones de vida de nuestros clientes.</p>
    </div>
    <div class="formulario">
        <form action="#" class="Quejas">
            <input type="text" id="nombre" name="nombre" required placeholder="Nombre">
            <input type="email" id="email" name="email" required placeholder="Correo Electronico">
            <input type="tel" id="telefono" name="telefono" placeholder="Telefono">
            <input type="tel" id="telefono" name="telefono" placeholder="Ciudad">
            <input type="tel" id="telefono" name="telefono" placeholder="Tema de consulta">
            <button type="submit" >Enviar</button>
          </form>
    </div>
</footer>
