<div class="listado-horizontal">
  <div class="titulo">
    <h1>Lo que nos mueve</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><img src="../../../../../assets/images/chulo.png">Honestidad</h1>
          <p class="card-text">Actuamos con sinceridad en cada proceso que desarrollamos y con todas las personas que integran nuestra empresa, es decir, nosotros mismos, compañeros, proveedores y clientes</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card ">
        <div class="card-body">
          <h1 class="card-title"><img src="../../../../../assets/images/chulo.png">Respeto</h1>
          <p class="card-text">Promovemos una interacción basada en el respeto propio y por los demás, de tal manera que se logre un ambiente acorde con los objetivos de la empresa.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card ">
        <div class="card-body">
          <h1 class="card-title"><img src="../../../../../assets/images/chulo.png">Liderazgo</h1>
          <p class="card-text">Incentivamos en nuestros colaboradores cualidades que le permitan desarrollarse como individuo propositivo que aporta a la construcción de procesos eficaces y eficientes con el fin de prestar un servicio de calidad</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><img src="../../../../../assets/images/chulo.png">Misión</h1>
          <p class="card-text">Somos una empresa de telecomunicaciones que brinda soluciones de conectividad a través de la prestación de un servicio accesible y de calidad, apostando a la mejora de las condiciones de vida de nuestros clientes</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><img src="../../../../../assets/images/chulo.png">Visión</h1>
          <p class="card-text">Sitelinks SAS. Trabaja para ser la empresa de telecomunicaciones líder en Cundinamarca a través de procesos innovadores y sostenibles garantizando un servicio optimo que satisfaga las necesidades de la población.</p>
        </div>
      </div>
    </div>
  </div>

</div>